<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/clouds.png">
</head>
<body>
    {{>header}}
    <br>
    {{errorMessage}}
    {{>footer}}
</body>
</html>
